<ion-view view-title="Contact">
    <ion-content class="padding">
        <div name="AjoutContact" id="AjoutContact" class="item item-divider">
            Choisissez un contact
        </div>
        <div class="list">
            <div class="item" ng-repeat="contact in contacts">
                {{contact.displayName}}
            </div>
        </div>aa : bb : {{oktest}}
        <br/>
    </ion-content>
    <ion-footer-bar class="bar-balanced" ui-sref="ajoutAdresse">
        <h1 class="title">Suivant</h1>
    </ion-footer-bar>
</ion-view>
