<ion-view view-title="Adresse">
    <!-- Page 3 nouvelle adresse : Choisir un moyen de transport -->
    <div class="list">
        <div class="item item-divider">
            Moyen de transport
        </div>
        <label class="item item-radio">
            <input type="radio" name="group">
            <div class="item-content">
                <i class="ion-android-car" style="font-size:2em;"></i>
            </div>
            <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
            <input type="radio" name="group">
            <div class="item-content">
                <span class="step size-48">
              <i class="ion-android-bicycle" style="font-size:2em;"></i>
          </span>
            </div>
            <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
            <input type="radio" name="group">
            <div class="item-content">
                <i class="ion-android-bus" style="font-size:2em;"></i>
            </div>
            <i class="radio-icon ion-checkmark"></i>
        </label>
    </div>
    <ion-footer-bar class="bar-balanced" ui-sref="home">
        <h1 class="title">Créer le contact</h1>
    </ion-footer-bar>
</ion-view>
