<!-- Header -->
<ion-header-bar class="bar-balanced">
    <h1 class="title">IComing !</h1>
</ion-header-bar>
<!-- Page 1 : page principale -->
<ion-view view-title="JARRIVE">
    <ion-content class="padding">
        <div style="margin-top:50%;" ui-sref="ajoutContact">
            <center>
                <i class="ion-ios-plus-outline" style="font-size:10em;color:green" data-pack="ios" data-tags="add, include, new, invite, +"></i>
            </center>
        </div>
    </ion-content>
</ion-view>
